<img src="../assets/images/outsidehome.png 
" alt="Main Housing Campus" width="100%">
<div id="home" style="white-space:nowrap">
	<p>
	  Amongst its sprawling landscape of skyscrapers, urban areas, parks, suburbs, gardens and beaches, our insitution has an assortment of inviting, culturally rich spaces for seniors to enjoy their retirement. Within these areas are an array of quality retirement communities.
	</p>
	<div class="container">
  		<div class="row">
    		<div class="col">
    			<div id="image">
      				<img src="../assets/images/active-adult-living-icon.svg" alt="Smiley face" >
      			</div>
      			<div>
      				<p>Active Adult Living Center</p>
      			</div>
      		</div>
    		<div class="col">
    			<div id="image">
    				<img src="../assets/images/adult-day-programs-icon.svg" alt="Smiley face">
    			</div>
    			<div>
    				<p>Adult Day Programs</p>
    			</div>
    		</div>
    		<div class="col">
    			<div id="image" >
    				<img src="../assets/images/alzheimer-dementia-care-icon.svg" alt="Smiley face">
    			</div>
    			<div>
    				<p>Alzheimer's & Memory Care</p>
    			</div>
    		</div>
  		</div>
  		<div class="row">
    		<div class="col">
    			<div class="image">
    				<img src="../assets/images/assisted-living-icon.svg" alt="Smiley face">
    			</div>
      			<div>
    				<p>Assisted Living</p>
    			</div>
    		</div>
    		<div class="col">
    			<div class="image">
    				<img src="../assets/images/home-care-icon.svg" alt="Smiley face">
    			</div>
    			<div>
    				<p>Home Care</p>
    			</div>
    		</div>
    		<div class="col">
    			<div class="image">
    				<img src="../assets/images/independent-living-icon.svg" alt="Smiley face">
    			</div>
    			<div>
    				<p>Independent Living</p>
    			</div>
      			
    		</div>
  		</div>
  		<div class="row">
  			<div class="col">
  				<div class="image">
  					<img src="../assets/images/long-term-care-icon.svg" alt="Smiley face">
  				</div>
  				<div>
  					<p>Long-term Care</p>
  				</div>
  			</div>
    		<div class="col">
    			<div class="image">
    				<img src="../assets/images/respite-care-icon.svg" alt="Smiley face">
    			</div>
      			<div>
  					<p>Respite Care</p>
  				</div>
    		</div>
    		<div class="col">
      			<div class="image">
    				<img src="../assets/images/convalescent-care-icon.svg" alt="Smiley face">
    			</div>
      			<div>
  					<p>Convalescent Care</p>
  				</div>
    		</div>
  		</div>
</div>
</div>
